.inline {
  display: flex;
}
.form {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  align-items: center;

  border: 1px solid #777777;
  border-radius: 1em;

  background-color: #777777;

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    font-size: 2.5rem;
    color: white;
    margin: 1rem;
  }

  &__input {
    width: 80%;
    margin: 0 auto;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;

    &__title {
      font-size: 1.5rem;
      align-self: center;
    }

    input {
      margin-left: 15px;
    }
  }
  button {
    width: 70%;
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 1em;
    background-color: #fafafa;
    color: #777777;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #777777;
    &:hover {
      color: white;
      transition: 0.3s;
      background-color: #777777;
    }
    &:disabled {
      background-color: #fafafa;
      color: #777777;
      border: 1px solid #fafafa;
      cursor: auto;
    }
  }
  label {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }
}
.error {
  color: #ff3000;
  font-size: 1.4rem;
  letter-spacing: 0.06em;
  margin: 0.5rem 0;
  width: 90%;
  text-align: right;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  &__status {
    margin: 0.5rem 20px !important;
  }
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  &:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
