.cartModal {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  .cartModal__content {
    width: 70%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    .cartModal__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .cartModal__title {
        font-size: 20px;
        font-weight: 600;
      }
      .cartModal__close {
        font-size: 20px;
        cursor: pointer;
      }
    }
    .cartModal__body {
      margin-top: 20px;
      .cartModal__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .cartModal__item__img {
          width: 250px;
          height: 250px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .cartModal__item__info {
          margin-left: 20px;
          .cartModal__item__info__text {
            font-size: 18px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
